body, html {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: aqua;
}

#keyboard {
    height: 25vw;
    width: 75vw;
    border-style: solid;
}

.white-keys {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.white {
    height: 99%;
    width: 4.54545454545%;
    border-style: solid;
    border-width: 0.15vw;
    z-index: 1;
}

.black-keys {
    position: relative;
    bottom: 25vw;
    display: flex;
    height: 70%;
    width: 100%;
    padding: 0 2vw 0 2vw;
}

.gap {
    z-index: -1;
}
.big.gap {
    width: 3.93vw;
    z-index: -1;
}

.small.gap{
    width: 1vw;
    z-index: -1;
}

.double, .triple {
    display: flex;;
}

.black {
    z-index: 2;
    height: 100%;
    width: 2.6vw;
    background-color: black;;
}