body,
html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: aqua;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Open Sans', sans-serif;
}

#controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vw;
    width: 75vw;
    border-style: solid;
    background-color: #6e7070;
}

.buttons {
    text-align: center;
    height: 60%;
    width: 35%;
    border-style: solid;
    border-width: 0.3vw;;
    margin: 0 2vw;
}

#reverb {
    background-color: #ded5d7;
}

#record {
    border: none;
}

#slide {
    width: 10vw;
    height: 4vw;
    border-radius: 10vw;
    background-color: #40e363;
}

#keyboard {
    height: 25vw;
    width: 75vw;
    border-style: solid;
}

.white-keys {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.white {
    height: 99%;
    width: 4.54545454545%;
    border-style: solid;
    border-width: 0.15vw;
    z-index: 1;
}

.black-keys {
    position: relative;
    bottom: 25vw;
    display: flex;
    height: 70%;
    width: 100%;
    padding: 0 2vw 0 2vw;
}

.gap {
    z-index: -1;
}

.big.gap {
    width: 3.93vw;
    z-index: -1;
}

.small.gap {
    width: 1vw;
    z-index: -1;
}

.double,
.triple {
    display: flex;
    ;
}

.black {
    z-index: 2;
    height: 100%;
    width: 2.6vw;
    background-color: black;
    ;
}